
	
	<!-- Breadcrumb -->
	<div class="breadcrumbs overlay" data-stellar-background-ratio="0.7">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="list">
						<li><a href="/">Home</a></li>
						<li><a href="/home/contact">Contact</a></li>
					</ul>
					<h2>Contact Us</h2>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Breadcrumb -->
  
	<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="title-line center">
						<p>our information</p>
						<h2>Contact <span>Us</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Contact Form -->
				<div class="col-lg-8 offset-lg-2 col-12">
					<form class="form" method="post" action="http://www.iamshakil.me/themes/traveltrek/mail/mail.php">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="text" name="name" placeholder="Name" required="required">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="email" name="email" placeholder="Email" required="required">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<input type="text" name="subject" placeholder="Subject" required="required">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="message" rows="8" placeholder="Your Message" ></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group button">	
									<button type="submit" class="btn primary">Send Message</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!--/ End Contact Form -->
				<div class="col-lg-12">
					<div class="contact">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-12">
								<!-- Single Contact -->
								<div class="single-contact">
									<img src="/images/location-icon.png" alt="#">
									<h4>Our Location</h4>
									<p>87 Rue Jeanne St, House 20, Block E, Nancy Middlesex, London</p>
								</div>
								<!--/ End Single Contact -->
							</div>
							<div class="col-lg-4 col-md-4 col-12">
								<!-- Single Contact -->
								<div class="single-contact">
									<img src="/images/call-icon.png" alt="#">
									<h4>Contact Us</h4>
									<p>Telephone: +012 345 678990</p>
									<p><a href="mailto:info@yourwebsite.com">Email: info@yourwebsite.com</a></p>
								</div>
								<!--/ End Single Contact -->
							</div>
							<div class="col-lg-4 col-md-4 col-12">
								<!-- Single Contact -->
								<div class="single-contact">
									<img src="/images/clock-icon.png" alt="#">
									<h4>Working Times</h4>
									<p>Monday - Friday: 9:00AM -19:00PM <span>Sunday Close</span></p>
								</div>
								<!--/ End Single Contact -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Contact -->
	
	<!-- Map Section -->
	<div class="map-section">
		<div id="myMap"></div>
	</div>
	<!--/ End Map Section -->
	
	<!-- Clients -->
	<div id="clients" class="clients section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="clients-slider">
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="contact.html#" target="_blank"><img src="/images/client1.png" alt="#"></a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients active">
							<a href="contact.html#" target="_blank"><img src="/images/client2.png" alt="#"></a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="contact.html#" target="_blank"><img src="/images/client1.png" alt="#"></a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="contact.html#" target="_blank"><img src="/images/client2.png" alt="#"></a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="contact.html#" target="_blank"><img src="/images/client1.png" alt="#"></a>
						</div>
						<!--/ End Single Clients -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Clients -->
	
	
	<!--/ End footer -->
 
	<!-- Jquery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.0.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="/js/bootstrap-datepicker.js"></script>
	<!-- Steller JS -->
	<script src="/js/steller.js"></script>
	<!-- Fancybox JS -->
	<script src="/js/facnybox.min.js"></script>
	<!-- Circle Progress JS -->
	<script src="/js/circle-progress.min.js"></script>
	<!-- Slicknav JS -->
	<script src="/js/slicknav.min.js"></script>
	<!-- Niceselect JS -->
	<script src="/js/niceselect.js"></script>
	<!-- Owl Carousel JS -->
	<script src="/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="/js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="/js/waypoints.min.js"></script>
	<!-- Wow Min JS -->
	<script src="/js/wow.min.js"></script>
	<!-- Jquery Counterup JS -->
	<script src="/js/jquery-counterup.min.js"></script>
	<!-- Ytplayer JS -->
	<script src="/js/ytplayer.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="/js/scrollup.js"></script>
	<!-- Easing JS -->
	<script src="/js/easing.js"></script>
	<!-- Google Map JS -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>	
	<script src="/js/gmap.min.js"></script>
	<script src="/js/map-script.js"></script>
	<!-- Active JS -->
	<script src="/js/active.js"></script>
</body>
</html>