<!DOCTYPE html>
<html lang="zxx">

<head>
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
	<title>E-Louer</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<!-- Web Font -->

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
	<!-- StyleSheet -->
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/datepicker.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="css/magnific-popup.min.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/owl-carousel.css">
	<link rel="stylesheet" href="css/slicknav.min.css">
	<link rel="stylesheet" href="css/animate.css">

	<!-- TravelTrek StyleSheet -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="js">

	<!-- Preloader -->
	<div class="cp-preloader">
		<div class="cp-preloader__box">
			<div class="cp-preloader-inner">
				<i class="icon fa fa-plane"></i>
			</div>
		</div>
	</div>
	<!-- End Preloader -->

	<!-- Header Area -->
	<header id="site-header" class="site-header">
		<!-- Start Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-12">
						<!-- Text -->
						<p>Bienvenue dans E-Louer || Logements pour tous les étudiants</p>
						<!--/ End Text -->
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<!-- Social -->
						<ul class="social">
							<li>
								<a href="index.html#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="index.html#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="index.html#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="index.html#">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
						</ul>
						<!--/ End Social -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Topbar -->
		<!-- Middle Header -->
		<div class="middle-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="index.html"><img src="/images/logo-elouer.png" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-9 col-md-9 col-12">
						<!-- Header Widget -->
						<div class="header-widget">
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="/images/location-icon.png" alt="#">
								<h4>76 Bonnet Ivandry
									</h4>
								<p>Antananarivo Madagascar</p>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="/images/call-icon.png" alt="#">
								<h4>+26134 49 295 99</h4>
								<p>Madagascar</p>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="/images/clock-icon.png" alt="#">
								<h4>Vend -Fri: 9:00-19:00</h4>
								<p>Juin 2018</p>
							</div>
							<!--/ End Single Widget -->
						</div>
						<!--/ End Header Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Middle Header -->
		<!-- Header Bottom -->
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Main Menu -->
						<div class="main-menu">
							<nav class="navigation">
								<ul class="nav menu">
									<li class="active">
										<a href="/">Home</a>

									</li>
									<li>
										<a href="index.html#">Trip package
											<i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown">
											<li>
												<a href="trip-3-column.html">Trip Package 3 Column</a>
											</li>
											<li>
												<a href="trip-4-column.html">Trip Package 4 Column</a>
											</li>
											<li>
												<a href="trip-single.html">Trip Single</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="index.html#">Services
											<i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown">
											<li>
												<a href="services.html">Services</a>
											</li>
											<li>
												<a href="service-single.html">Service Single</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="index.html#">Pages
											<i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown">
											<li>
												<a href="about.html">About Us</a>
											</li>
											<li>
												<a href="destinations.html">Destinations</a>
											</li>
											<li>
												<a href="team.html">Team</a>
											</li>
											<li>
												<a href="testimonials.html">Testimonials</a>
											</li>
											<li>
												<a href="faq.html">Faq</a>
											</li>
											<li>
												<a href="404.html">404 Page</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#">Connexion
											<i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown">
											<li>
												<a href="/users/sign_in">Etudiant</a>
											</li>
											<li>
												<a href="/agents/sign_in">Agents</a>
											</li>

										</ul>
									</li>
									<li>
										<a href="/home/contact">Contact</a>
									</li>
								</ul>
							</nav>
						</div>
						<!--/ End Main Menu -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Bottom -->
	</header>
	<!--/ End Header Area -->

	<!-- Hero Area -->
	<section id="hero-area" class="hero-area overlay" data-stellar-background-ratio="0.7">
		<div class="hero-main">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="hero-inner">
							<!-- Welcome Text -->
							<div class="welcome-text">
								<p># 1 Le site de logement pour les étudiants à Mada</p>
								<h1>Logement en quelque clique</h1>
							</div>
							<!--/ End Welcome Text -->
							<!-- Search Form -->
							<div class="trip-search">
								<form class="form">
									<!-- Form Destination -->
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0">
											<span class="current">
												<img src="images/destination-icon.png" alt="#">Lieu</span>
											<ul class="list">
												<li data-value="1" class="option selected ">Près arret</li>
												<li data-value="2" class="option">Calme</li>
												<li data-value="3" class="option">Avec de voisins</li>
											</ul>
										</div>
									</div>
									<!--/ End Form Destination -->
									<!-- Form Activities -->
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0">
											<span class="current">
												<img src="images/activities-icon.png" alt="#">Equipement</span>
											<ul class="list">
												<li data-value="1" class="option selected ">Equipement de base</li>
												<li data-value="2" class="option">Wi-fi</li>
												<li data-value="3" class="option">Télevision</li>
											</ul>
										</div>
									</div>
									<!--/ End Form Activities -->
									<!-- Form Duration -->
									<div class="form-group duration">
										<div class="nice-select form-control wide" tabindex="0">
											<span class="current">
												<img src="images/duration-icon.png" alt="#">Duration</span>
											<ul class="list">
												<li data-value="1" class="option selected ">Un mois</li>
												<li data-value="2" class="option">Deux mois</li>
												<li data-value="3" class="option">Trois mois</li>
											</ul>
										</div>
									</div>
									<!--/ End Form Duration -->
									<!-- Form Budget -->
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0">
											<span class="current">
												<img src="images/budget-icon.png" alt="#">Budget</span>
											<ul class="list">
												<li data-value="1" class="option selected">Ar20 000</li>
												<li data-value="2" class="option">Ar40 000</li>
												<li data-value="3" class="option">Ar60 000</li>
											</ul>
										</div>
									</div>
									<!--/ End Form Budget -->
									<!-- Form Button -->
									<div class="form-group button">
										<button type="submit" class="btn">Rechercher</button>
									</div>
									<!--/ End Form Button -->
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Hero Area -->

	<!-- About Us -->
	<section id="about-us" class="about-us section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-12">
					<!-- About Left -->
					<div class="about-left">
						}
						<img src="images/fille.jpg" alt="#">
					</div>
					<!--/ End About Left -->
				</div>
				<div class="col-lg-6 col-12">
					<!-- About Right -->
					<div class="about-right">
						<div class="title-line">
							<p>A propos de nous</p>
							<h2>Nous essayons de
								<span>rendre aux mieux la vie des étudiants à Tanà.</span>
							</h2>
						</div>
						<div class="about-main">
							<p>En ce moment près de 70% des étudiants à Madagascar ont une difficulté à trouver des logements à déquates durant leurs
								études.</p>
							<p>Ces étudiants logent chez leur familles ou des amis ou aussi à des connaissance, et pour ceux qui n'ont pas cette
								chance ils se débroullent.</p>
							<p>C'est pour ça que notre site est née pour faciliter la recheche de logement de ces étudiants.</p>
							<!-- Skill Main -->
							<div class="skill-main">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="circle" data-value="0.70" data-size="130">
												<strong>70%</strong>
											</div>
											<h4>Etudiant
												<span>En difficulté</span>
											</h4>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="circle" data-value="0.30" data-size="130">
												<strong>30%</strong>
											</div>
											<h4>Logement
												<span>en location</span>
											</h4>
										</div>
										<!--/ End Single Skill -->
									</div>
								</div>
							</div>
							<!--/ End Skill Main -->
						</div>
					</div>
					<!--/ End About Right -->
				</div>
			</div>
		</div>
	</section>
	<!--/ End Main Area -->

	<!-- Popular Destination -->

	<!--/ End Popular Destination -->

	<!-- Popular Trips -->
	<section id="popular-trips" class="popular-trips section overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-12">
					<div class="title-line">
						<p>Les logements populaires</p>
						<h2>Choisissez
							<span>les logements qui vous conviennent</span>
						</h2>
						<p class="text">
							Ces logements sont sur et securisée donc pas la peine de s'inqueter durant vos études. En plus ils sont on zone urbaine près
							de votre Universités
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="trips-main">
						<!-- Trips Slider -->
						<div class="trips-slider">
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">
									<img src="images/p-package/logement1.jpg" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4>
											<a href="trip-single.html">Snorkel Tour in Grand Turks Coral Reef</a>
										</h4>
										<p>
											<i class="fa fa-clock-o"></i>3 Nights 4 Days</p>
									</div>
									<div class="right">
										<p>From
											<span>$300</span>
										</p>
									</div>
									<a href="trip-single.html" class="btn">Plus de détail</a>
								</div>
							</div>
							<!--/ End Single Trips -->
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">
									<div class="trip-offer">25% OFF</div>
									<img src="images/p-package/logement2.jpg" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4>
											<a href="trip-single.html">Awesome tour package in pattaya</a>
										</h4>
										<p>
											<i class="fa fa-clock-o"></i>2 Nights 3 Days</p>
									</div>
									<div class="right">
										<p>From
											<span>$200</span>
										</p>
									</div>
									<a href="trip-single.html" class="btn">Plus de détail</a>
								</div>
							</div>
							<!--/ End Single Trips -->
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">
									<img src="images/p-package/logement3.jpg" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4>
											<a href="trip-single.html">Tour package in Greenville, Carolina</a>
										</h4>
										<p>
											<i class="fa fa-clock-o"></i>5 Nights 6 Days</p>
									</div>
									<div class="right">
										<p>From
											<span>$800</span>
										</p>
									</div>
									<a href="trip-single.html" class="btn">Plus de détail</a>
								</div>
							</div>
							<!--/ End Single Trips -->
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">
									<img src="images/p-package/logement5.jpg" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4>
											<a href="trip-single.html">Crazy Winter tour in everest</a>
										</h4>
										<p>
											<i class="fa fa-clock-o"></i>3 Nights 4 Days</p>
									</div>
									<div class="right">
										<p>From
											<span>$300</span>
										</p>
									</div>
									<a href="trip-single.html" class="btn">Plus de détail</a>
								</div>
							</div>
							<!--/ End Single Trips -->
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">
									<div class="trip-offer">50% OFF</div>
									<img src="images/p-package/logement4.jpg" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4>
											<a href="trip-single.html">Snorkel Tour in Grand Turks Coral Reef</a>
										</h4>
										<p>
											<i class="fa fa-clock-o"></i>4 Nights 5 Days</p>
									</div>
									<div class="right">
										<p>From
											<span>$500</span>
										</p>
									</div>
									<a href="trip-single.html" class="btn">Plus de détail</a>
								</div>
							</div>
							<!--/ End Single Trips -->
							<!-- Single Slider -->

							<!--/ End Single Trips -->
						</div>
						<!--/ End Trips Slider -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Popular Trips -->

	<!-- Top Destination -->


	<!-- Call To Action -->
	<section id="cta" class="cta section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-12">
					<div class="cta-text">
						<div class="title-line">
							<p>A propos de nous</p>
							<h2>Faciliter la vie
								<span>Des Etudiants est notre objectif.</span>
							</h2>
						</div>
						<a href="trip-3-column.html" class="btn">Plus de logement ...</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Call To Action -->

	<!-- Testimonials -->
	<section id="testimonials" class="testimonials section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="title-line center">
						<p>Témoignage</p>
						<h2>
							<span>Etudiants </span>d'Université d' Ankatso</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="testimonial-main">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<!-- Testimonial Slider -->
								<div class="testimonial-slider">
									<!-- Single Slider -->
									<div class="single-slider">
										<h2>Avec E-Louer !!!!!</h2>
										<p>Avant je galère pour aller à mon Université, mais maintenant avec E-Louer j'ai trouvé un logement pas chers à coté
											de mon Université, merci à vous.</p>
										<span>Michel Lovia , Ambohidratrimo, Etudiante d' Ankatso</span>
									</div>
									<!--/ End Single Slider -->
									<!-- Single Slider -->
									<div class="single-slider">
										<h2>E-Louer is the best!</h2>
										<p>"Sahirina be izaho mipetraka amin' i Dadatoa sy Nenitoanay fa atr@ nahitako an'i E-Louer dia niova ny fiainako
											" </p>
										<p>J'habitait chez mon Oncle et ma Tante avant et c'était difficile pour moi de vivre avec eux avant que je trouve
											E-Louer qui a changé ma vie</p>
										<span>Andria Simon, Vontovorona, Etudiant à Ampasampito</span>
									</div>
									<!--/ End Single Slider -->
									<!-- Single Slider -->
									<div class="single-slider">
										<h2>E-Louer a changer ma vie d'étudiant</h2>
										<p>J'arrivai toujours en retard à mon cours, alors j'ai décidé de chercher un logement et c'est là que E-Louer m'est
											tombé d'un coup paf ... :)</p>
										<span>Sonila Paul, Ivato, Etudiant d'Ankatso</span>
									</div>
									<!--/ End Single Slider -->
								</div>
								<!--/ End Testimonial Slider -->
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<!-- Testimonial Image -->
								<div class="testimonial-image">
									<img src="images/testimonial-img.jpg" alt="#">
								</div>
								<!--/ End Testimonial Image -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Testimonials -->

	<!-- Services -->
	<section id="services" class="services">
		<div class="container-fluid no-padding">
			<div class="service-img overlay" data-stellar-background-ratio="0.7">
				<div class="video-play">
					<a href="https://https://www.youtube.com/watch?v=Zp3qbInC-vw" class="btn video-popup mfp-fade">
						<i class="fa fa-play"></i>
					</a>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="offset-lg-6 col-lg-6 col-12">
					<div class="row no-gutters">
						<div class="col-lg-6 col-md-6 col-12">
							<!-- single service -->
							<div class="single-service">
								<img src="images/service-icon1.png" alt="#">
								<h2>Voyage</h2>
								<p>Prochainnement nous entammerons les vacances et divers tourisme à Madagascar</p>
								<a href="#" class="btn">Plus d'information</a>
							</div>
							<!--/ End single service -->
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<!-- single service -->
							<div class="single-service">
								<img src="images/service-icon2.png" alt="#">
								<h2>Touristes</h2>
								<p>Avec notre site les touristes ne vont plus se perdre </p>
								<a href="#" class="btn">Plus d'information</a>
							</div>
							<!--/ End single service -->
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<!-- single service -->
							<div class="single-service">
								<img src="images/service-icon3.png" alt="#">
								<h2>Vacance à Madagascar</h2>
								<p>Vous ne regreterez pas les vacances à Madagascar</p>
								<a href="#" class="btn">Plus d'information</a>
							</div>
							<!--/ End single service -->
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<!-- single service -->
							<div class="single-service">
								<img src="images/service-icon4.png" alt="#">
								<h2>Association aves les agesnces</h2>
								<p>Les agences de tourisme profiteront aussi de cette avantage</p>
								<a href="#" class="btn">Plus d'information</a>
							</div>
							<!--/ End single service -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Services -->



	<!-- Clients -->
	<div id="clients" class="clients section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="clients-slider">
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="index.html#" target="_blank">
								<img src="images/part/logo-thp.png" alt="#">
							</a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients active">
							<a href="index.html#" target="_blank">
								<img src="images/part/P4h.png" alt="#">
							</a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="index.html#" target="_blank">
								<img src="images/part/sayna.png" alt="#">
							</a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="index.html#" target="_blank">
								<img src="images/part/e-anatra.png" alt="#">
							</a>
						</div>
						<div class="single-clients">
							<a href="index.html#" target="_blank">
								<img src="images/part/evpromote.png" alt="#">
							</a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->

						<!--/ End Single Clients -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Clients -->

	<!-- Footer -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-widget">
							<h2>Company</h2>
							<ul>
								<li>
									<a href="about.html">A propos de nous</a>
								</li>
								<li>
									<a href="services.html">Nos Service</a>
								</li>
								
								<li>
									<a href="/home/contact">Contact</a>
								</li>
							</ul>
						</div>
						<!--/ End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-widget">
							<h2>Reservation</h2>
							<ul>
								<li>
									<a href="404.html">Coming soon</a>
								</li>
								<li>
									<a href="#">Copyright</a>
								</li>
								
							</ul>
						</div>
						<!--/ End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-widget gallery">
							<h2>Gallery d' Image</h2>
							<ul class="list">
								<li>
									<a href="images/p-package/logement1.jpg" data-fancybox="photo">
										<img src="images/p-package/logement1.jpg" alt="#">
									</a>
								</li>
								<li>
									<a href="images/p-package/logement2.jpg" data-fancybox="photo">
										<img src="images/p-package/logement2.jpg" alt="#">
									</a>
								</li>
								<li>
									<a href="images/p-package/logement3.jpg" data-fancybox="photo">
										<img src="images/p-package/logement3.jpg" alt="#">
									</a>
								</li>
								<li>
									<a href="images/p-package/logement4.jpg" data-fancybox="photo">
										<img src="images/p-package/logement4.jpg" alt="#">
									</a>
								</li>
								<li>
									<a href="images/p-package/logement5.jpg" data-fancybox="photo">
										<img src="images/p-package/logement5.jpg" alt="#">
									</a>
								</li>
								<li>
									<a href="images/p-package/logement1.jpg" data-fancybox="photo">
										<img src="images/p-package/logement1.jpg" alt="#">
									</a>
								</li>
							</ul>
						</div>
						<!--/ End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-widget about">
							<img src="images/logo-elouer.png" alt="#">
							<p>E-Louer est un nom de company reservé. Par le team E-Louer et par la company Sayna.io</p>
						</div>
						<!--/ End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bottom-inner">
							<div class="row">
								<div class="col-lg-8 col-md-8 col-12">
									<!-- Copyright -->
									<div class="copyright">
										<p>Copyright &#9400; 2018 by
											<a href="index.html#">E-Louer Team</a> All Right Reserved</p>
									</div>
									<!--/ End Copyright -->
								</div>
								<div class="col-lg-4 col-md-4 col-12">
									<!-- Social -->
									<ul class="social">
										<li>
											<a href="index.html#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="index.html#">
												<i class="fa fa-linkedin"></i>
											</a>
										</li>
										<li>
											<a href="index.html#">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="index.html#">
												<i class="fa fa-google-plus"></i>
											</a>
										</li>
									</ul>
									<!--/ End Social -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Bottom -->
	</footer>
	<!--/ End footer -->

	<!-- Jquery -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.0.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Steller JS -->
	<script src="js/steller.js"></script>
	<!-- Fancybox JS -->
	<script src="js/facnybox.min.js"></script>
	<!-- Circle Progress JS -->
	<script src="js/circle-progress.min.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- Niceselect JS -->
	<script src="js/niceselect.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Wow Min JS -->
	<script src="js/wow.min.js"></script>
	<!-- Jquery Counterup JS -->
	<script src="js/jquery-counterup.min.js"></script>
	<!-- Ytplayer JS -->
	<script src="js/ytplayer.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/scrollup.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Google Map JS -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>
	<script src="js/gmap.min.js"></script>
	<!-- Active JS -->
	<script src="js/active.js"></script>
</body>

</html>