
<!-- Footer -->
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-widget">
                        <h2>Company</h2>
                        <ul>
                            <li><a href="#">A Porpos de nous</a></li>
                            <li><a href="#">Nos Service</a></li>
                           
                            <li><a href="/home/contact">Contactez-nous</a></li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-widget">
                        <h2>Reservation</h2>
                        <ul>
                            <li><a href="/404.html">Coming soon</a></li>
                           
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-widget gallery">
                        <h2>Gallery Image</h2>
                        <ul class="list">
                            <li><a href="/images/gallery-img1.jpg" data-fancybox="photo"><img src="/images/gallery-img1.jpg" alt="#"></a></li>
                            <li><a href="/images/gallery-img2.jpg" data-fancybox="photo"><img src="/images/gallery-img2.jpg" alt="#"></a></li>
                            <li><a href="/images/gallery-img3.jpg" data-fancybox="photo"><img src="/images/gallery-img3.jpg" alt="#"></a></li>
                            <li><a href="/images/gallery-img4.jpg" data-fancybox="photo"><img src="/images/gallery-img4.jpg" alt="#"></a></li>
                            <li><a href="/images/gallery-img5.jpg" data-fancybox="photo"><img src="/images/gallery-img5.jpg" alt="#"></a></li>
                            <li><a href="/images/gallery-img6.jpg" data-fancybox="photo"><img src="/images/gallery-img6.jpg" alt="#"></a></li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-widget about">
                        <img src="/images/logo2.png" alt="#">
                        <p>At Revirta, we hire US-based, detail-oriented people who strive to provide our clients with the best assistance.</p>
                    </div>
                    <!--/ End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bottom-inner">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-12">
                                <!-- Copyright -->
                                <div class="copyright"> 
                                    <p>Copyright &#9400; 2018 by <a href="contact.html#">E-Louer Team.</a> All Right Reserved</p>
                                </div>
                                <!--/ End Copyright -->
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <!-- Social -->
                                <ul class="social">
                                    <li><a href="contact.html#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="contact.html#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="contact.html#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="contact.html#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <!--/ End Social -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Bottom -->
</footer>