	<!-- Preloader -->
    <div class="cp-preloader">
        <div class="cp-preloader__box">
            <div class="cp-preloader-inner">
                <i class="icon fa fa-plane"></i>
            </div>
        </div>
    </div>
<!-- End Preloader -->

<!-- Header Area -->
<header id="site-header" class="site-header">
    <!-- Start Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <!-- Text -->
                    <p>Welcome To Travel Trek Official Website</p>
                    <!--/ End Text -->
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <!-- Social -->
                    <ul class="social">
                        <li><a href="contact.html#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="contact.html#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="contact.html#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="contact.html#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <!--/ End Social -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Topbar -->
    <!-- Middle Header -->
    <div class="middle-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="/images/logo.png" alt="logo"></a>
                    </div>
                    <!--/ End Logo -->
                    <div class="mobile-nav"></div>
                </div>
                <div class="col-lg-9 col-md-9 col-12">
                    <!-- Header Widget -->
                    <div class="header-widget">
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <img src="/images/location-icon.png" alt="#">
                            <h4>321 St Jeanne Dance, Flans</h4>
                            <p>Bomanias, US</p>
                        </div>
                        <!--/ End Single Widget -->
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <img src="/images/call-icon.png" alt="#">
                            <h4>+012 345 678990</h4>
                            <p>Troll Free </p>
                        </div>
                        <!--/ End Single Widget -->
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <img src="/images/clock-icon.png" alt="#">
                            <h4>Mon -Fri: 9:00-19:00</h4>
                            <p>Sunday Closed</p>
                        </div>
                        <!--/ End Single Widget -->
                    </div>
                    <!--/ End Header Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Middle Header -->
    <!-- Header Bottom -->
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Main Menu -->
                    <div class="main-menu">
                        <nav class="navigation">
                            <ul class="nav menu">
                                <li class="active"><a href="/">Home<i class="fa fa-angle-down"></i></a>
                                   
                                </li>
                                <li><a href="contact.html#">Trip package<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="trip-3-column.html">Trip Package 3 Column</a></li>
                                        <li><a href="trip-4-column.html">Trip Package 4 Column</a></li>
                                        <li><a href="trip-single.html">Trip Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html#">Services<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="service-single.html">Service Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html#">Pages<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="destinations.html">Destinations</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html#">Blogs<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                        <li><a href="blog-classic.html">Blog Classic</a></li>
                                        <li><a href="blog-grid-sidebar.html">Blog Classic Sidebar</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                        <li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="/home/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--/ End Main Menu -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Bottom -->
</header>